html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
.h-underline {
  position: relative;
  cursor: pointer;
}
.h-underline::after {
  transition: 0.3s;
  content: "";
  background-color: black;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
}
.h-underline:hover::after {
  content: "";
  background-color: black;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
input.h-underline{
  display: none;
}
input.h-underline:checked + label.h-underline::after {
  content: "";
  background-color: black;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
.ar169 {
  aspect-ratio: 16/9;
}
.ar32 {
  aspect-ratio: 3/2;
}

.h-500px {
  height: 500px;
}

.line-clamp-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media (min-width: 768px) {
  .md\:h-700px {
    height: 700px;
  }
}
