html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
.nav-menu-item{
  position: relative;
}
.nav-menu-item::after{
  transition: .3s;
  content: "";
  background-color: black;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
}
.nav-menu-item:hover::after {
  content: "";
  background-color: black;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
